.place__title {
    max-width: 460px;
    max-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    font-family: 'Inter';
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        font-size: 72px;
        line-height: 76px;
    }

}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 280px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}