.intro__list {
    list-style: none;
    padding: 33px 0 0 0;
    margin: 0 442px 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin: 0 284px 0 48px;
    }

}

@media screen and (max-width: 768px) {
    .intro__list {
        margin: 0 24px 0 24px;
    }

}

@media screen and (max-width: 320px) {
    .intro__list {
        margin: 0 16px 0 16px;

    }

}