.place__link-title {
    width: 100%;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 320px) {
    .place__link-title {
        max-width: 288px;
    }
}