.gallery__item {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    display: block;
}
/*

@media screen and (max-width: 320px) {
    .gallery__item {
        max-width: ;
    }

}*/
