.header__lang-links {
    display: flex;
    column-gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0 48px 0 0;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        margin: 0 16px 0 0;
    }
}